{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Artist" %}{% endblock meta_title %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="list-group col-sm-6 col-sm-offset-4  col-md-4 col-md-offset-4 text-center">
          {% for song in songs_list %}
          <a href="{% url "texts" song.id %}" class="list-group-item">{{ song.song_name }}</a>
          {% endfor %}
      </div>
    </div>
</div>

{% endblock content %}