{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Delete the Song" %}{% endblock meta_title %}

{% block content %}

<form action="{% url "song_delete" object.id %}" method="post">
    {% csrf_token %}
    <p class="text-center">{% trans "Do you really want to delete" %} "{{ object }}"?</p>
    <p class="text-center"><button type="submit" name="delete_button" class="btn btn-danger">{% trans "Delete" %}</button>
        <button type="submit" name="cancel_button" class="btn btn-link">{% trans "Cancel" %}</button></p>
</form>

{% endblock content %}